<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <title>맛집추천</title>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
  <script>
    $(document).ready(function () {
      listing();
    });


    function open_information() {
      $('.card').on('click', function () {
        $(this).find('.card-footer').toggle();
      });
    }


    function listing() {
      $('#cards-box').empty();
      fetch('/restaurant')
        .then((response) => response.json())
        .then((data) => {
          let rows = data['restaurant']
          rows.forEach((i) => {
            let name = i['name']
            let comment = i['comment']
            let category = i['category']
            let image = i['image']
            let star = i['star']
            let like = i['like']
            let num = i['num']
            let star_image = '⭐'.repeat(star)

            let information = i["information"];

            let information_html = '';

            information.forEach((info) => {
              let info_html = '';
              for (let key in info) {
                if (info.hasOwnProperty(key)) { // 프로퍼티 존재 유무 판별 
                  if (key === "주소") {
                    info_html += `<p><strong>${key}: </strong>${info[key].split("지번")[0]}</p>`;
                  } else {
                    info_html += `<p><strong>${key}: </strong>${info[key]}</p>`;
                  }
                }
              }
              information_html += info_html;
            })

            let temp_html = `<div class="col" onclick="open_information()" >
                                <div class="card h-100" onclick="open_information()">
                                  <img src="${image}" class="card-img-top">
                                  <div class="card-header">
                                    <h5 class="card-name">${name}</h5>
                                    <p>${star_image}</p>
                                    <div class="like">                                
                                      <p type="button" onclick="clickLike(${num},${like})" class="like-logo">👍</p>
                                      <p class="like-num">${like}</p>    
                                    </div>                                    
                                  </div>
                                    <div class="card-body">
                                      <p class="detail">카테고리 : ${category}</p>
                                      <p class="detail">한줄평 : ${comment}</p>
                                      <div class="card-footer">
                                        <small class="text-muted">${information_html}</small>
                                      </div>
                                    </div>                                  
                                </div>
                              </div>`

            $('#cards-box').append(temp_html);
            $('.card-footer').hide();
          });
        });
    }


    function clickLike(num, like) {
      $.ajax({
        type: 'POST',
        url: '/restaurant/like',
        data: { num_give: num, like_give: like },
        success: function (response) {
          listing();
        }
      })
    }

    function posting() {
      let url = $('#url').val()
      let star = $('#star').val()
      let comment = $('#comment').val()
      let category = $('#category').val()

      $.ajax({
        type: 'POST',
        url: '/restaurant',
        data: { url_give: url, star_give: star, category_give: category, comment_give: comment },
        success: function (response) {
          alert(response['msg'])
          window.location.reload()
        }
      });
    }
    function open_box() {
      $("#post-box").toggle();
    }
    function close_box() {
      $("#post-box").hide();
    }
  </script>
</head>

<body>
  <div class="mytitle">
    <h1>맛집 추천</h1>
    <button onclick="open_box()">맛집 추가</button>
  </div>
  <div class="mypost" id="post-box">
    <div class="form-floating mb-3">
      <input id="url" type="email" class="form-control" placeholder="name@example.com" />
      <label>맛집 URL</label>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">카테고리</label>
      <select class="form-select" id="category">
        <option selected>-- 선택하기 --</option>
        <option value="양식">양식</option>
        <option value="일식">일식</option>
        <option value="중식">중식</option>
        <option value="한식">한식</option>
        <option value="디저트">디저트</option>
        <option value="기타">기타</option>
      </select>
    </div>
    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect02">별점</label>
      <select class="form-select" id="star">
        <option selected>-- 선택하기 --</option>
        <option value="1">⭐</option>
        <option value="2">⭐⭐</option>
        <option value="3">⭐⭐⭐</option>
        <option value="4">⭐⭐⭐⭐</option>
        <option value="5">⭐⭐⭐⭐⭐</option>
      </select>
    </div>
    <div class="form-floating">
      <textarea id="comment" class="form-control" placeholder="Leave a comment here"></textarea>
      <label for="floatingTextarea2">한줄평</label>
    </div>
    <div class="mybtns">
      <button onclick="posting()" type="button" class="btn btn-dark">
        추가하기
      </button>
      <button onclick="close_box()" type="button" class="btn btn-outline-dark">
        닫기
      </button>
    </div>
  </div>
  <div class="mycards">
    <div class="row row-cols-1 row-cols-md-3 g-4" id="cards-box">
    </div>
</body>

</html>